#paramsDisplay {
  max-height: 125px;
  min-height: 90px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.removeCircle {
  font-size: 22px;
  margin-left: 16px;
  align-self: center;
}

label + div.MuiInput-formControl {
  margin-top: 0;
  margin: 10px;
  font-size: 12.5px;
}

.MuiFormControl-root.MuiTextField-root.key.MuiFormControl-marginDense.MuiFormControl-fullWidth {
  height: 32px;
  margin: 2px 10px;
}

.MuiAutocomplete-inputRoot input.MuiAutocomplete-input {
  width: auto;
}