.configurationLayout {
  text-align: center;
}

div.urlContainer {
  word-wrap: break-word;
}

div.urlContainer p {
  font-size: 12px;
}

div.urlContainer span {
  font-weight: bold;
}

.addircle {
  font-size: 36px !important;
  margin-left: 16px;
  align-self: center;
}

.addContainer{
  margin-top: 10px;
  font-size: 36px;
}

.icon {
  cursor: pointer;
}

.configurationButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.configurationButtonContainer > .configurationButton {
  margin: 4px 10px;
}