.configurationLayout p {
  margin: 2px;
}

.configurationLayout h2 {
  margin: 5px;
}

.keyHistoryContainer {
  height: 325px;
}

.savedKeyList {
  height: 150px;
  overflow-y: scroll;
  border: 1px solid #8d8b8b;
  margin-top: 1rem;
  position: relative;
}

h6.MuiTypography-root.MuiTypography-h5 {
  margin: .5rem 0;
}

div.addAKeyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}


div.MuiListItem-button {
  height: 1.7rem;
}

div.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}



.listItem {
  height: 10px;
}
