.configurationManagementContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.configurationManagementContainer > h6.configurationWarning {
  text-align: center;
  font-size: 16px;
  color: #a91010;
  font-weight: bold;
}

.configurationListContainer {
  height: 150px;
  overflow-y: scroll;
  margin: 1rem 0;
}

div.configurationListItem {
  text-align: center;
}

.configurationDisplayContainer {
  height: 190px;
  overflow-y: scroll;
}

.configurationTableRow td {
  font-size: 12px;
}

.configurationManagementContainer div.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.buttonContainer button {
  height: 45px;
  width: 147px;
  margin: 10px;
}