
div.importContainer {
    overflow-y: auto;
    height: 450px
}

div.importContainer p {
    margin: 0 2rem;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    left: -50px;
}

input.groupImport {
    position: relative;
    left: 0px;
    width: 536px;
}

.importContainer p, ul, li, pre {
    font-size: 12px;
}

.importContainer h6 {
    font-size: 16px;
}


div.importMessageContainer, div.importInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.successMessage {
    color: greenyellow;
}

.failureMessage {
    color: #a91010;
}